<div class="dashboard-container">
  <section class="profile-section">
    <div class="profile-header">
      <!-- Search -->
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search for mutual funds</mat-label>
        <input matInput />
      </mat-form-field>

      <button class="search-button">
        <mat-icon>search</mat-icon>

        Search
      </button>

      <!-- Notifications -->
      <div class="notification-icon ">
        <i class="fa-solid fa-bell"></i>
        <span>7</span>
      </div>
      <!-- profile-section -->
      <div class="profile-info">
        <img
          src="https://static.vecteezy.com/system/resources/thumbnails/033/225/461/small/a-business-man-stands-against-white-background-with-his-arms-crossed-photo.jpg"
          alt="User" />
        <div class="user-text">
          <div class="user-name">Zameer Ahmad</div>
          <div class="user-role">Meinvest Plus</div>
        </div>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>expand_more</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>help_outline</mat-icon>
          <span>Help Center</span>
        </button>

        <button mat-menu-item>
          <mat-icon>headset_mic</mat-icon>
          <span>Customer Care</span>
        </button>

        <button mat-menu-item class="sign-out-item">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>

    </div>

  </section>
  <!-- 1. Header Section -->
  <section class="header-section">
    <div class="welcome">
      <div class="welcome-text">
        <h2>Welcome Back Zameer Ahmad</h2>
        <p>Happy to see you again. Get update of your asset today, good luck!!</p>
      </div>
      <div class="welcome-actions">
        <button>
          <i class="fas fa-download"></i>
          <span>Download Report</span>
        </button>
      </div>
    </div>
    <div class="summary-cards">
      <mat-card class="summary-card " *ngFor="let card of summaryCards">
        <div class="card-header">
          <h4>{{card.title}}</h4>
          <div [ngClass]="card.iconClass">
            <mat-icon >{{card.icon}}</mat-icon>
          </div>
        </div>
        <div class="card-content">
          <p class="value">{{card.value | currency:"INR"}}</p>
          <span [ngClass]="card.changeType">
            <ng-container *ngIf="card.percentage !== undefined">
              {{ card.percentage }}%
              <mat-icon *ngIf="card.changeType === 'positive'" class="icon-up">arrow_upward</mat-icon>
              <mat-icon *ngIf="card.changeType === 'negative'" class="icon-down">arrow_downward</mat-icon>
            </ng-container>
            <span style="color: black;">+{{ card.change |currency:"INR"}}</span>
          </span>
        </div>

      </mat-card>



    </div>
  </section>

  <!-- 2. Investment Details Section -->
  <section class="investment-details">
    <div class="investment-">
      <mat-card class="investment-summary-card">
        <div class="header">
          <div>
            <h3>Investment Details</h3>
            <p class="subtext">Assets you have in your account</p>
          </div>
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>

        </div>

        <div class="total-value">
          <h2>₹178,975</h2>
          <span class="growth">6.75% <mat-icon class="up-icon">arrow_upward</mat-icon> This Month</span>
        </div>

        <div class="bar-graph">
          <div *ngFor="let asset of stockData" class="bar"
            [ngStyle]="{'width':getPrecentage(asset.name) ,'background-color': asset.color}"></div>
        </div>

        <div class="asset-breakdown">
          <div class="item" *ngFor="let asset of stockData">
            <span class="dot" [ngStyle]="{ 'background-color': asset.color }">
            </span>
            <span>{{ asset.name |titlecase }}</span>
            <span class="amount">{{ asset.price | currency:'INR' }}</span>
            <span class="percent" [ngStyle]="{ 'background-color': asset.color }">
              {{ getPrecentage(asset.name) }}
            </span>
          </div>
        </div>

      </mat-card>

    </div>
    <!-- 3. Investment Statistics Section -->
    <div class="investment">
      <mat-card class="investment-card">
        <div class="stat-header">
          <h3>Investment Statistic</h3>
          <mat-form-field>
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>

          </mat-form-field>
        </div>

        <!-- Placeholder for Chart -->
        <div class="chart-placeholder">
          <app-charts></app-charts>
        </div>
      </mat-card>
    </div>
  </section>

  <!-- 4. Investment Assets Section -->
  <section class="investment-assets">
    <div class="assets">
      <mat-card class="assets-card">
        <div class="asset-header">
          <div class="asset-text">
            <h3 id="title">My Investment Assets</h3>
            <p id="content">Explore Invesment asset and keep up to date</p>
          </div>
          <mat-form-field class="filters">
            <mat-label>Sort By</mat-label>
            <mat-select>
              <mat-option value="cagr">CAGR</mat-option>
              <mat-option value="aum">Total AUM</mat-option>
            </mat-select>
          </mat-form-field>
          <button >See All</button>

        </div>

        <div class="asset-content">
          <mat-card class="mat-asset">
            <h4>ABF India Bond Index</h4>
            <div class="content-card">
              <div class="content-text">
                <h3>Total AUM</h3>
                <p>₹4.58M</p>
              </div>
              <div class="content-text">
                <h3>CAGR</h3>
                <p class="cagr">10%</p>
              </div>
            </div>
          </mat-card>
          <mat-card class="mat-asset">
            <h4>ABF India Bond Index</h4>
            <div class="content-card">
              <div class="content-text">
                <h3>Total AUM</h3>
                <p>₹4.58M</p>
              </div>
              <div class="content-text">
                <h3>CAGR</h3>
                <p class="cagr">10%</p>
              </div>
            </div>
          </mat-card>
          <mat-card class="mat-asset">
            <h4>ABF India Bond Index</h4>
            <div class="content-card">
              <div class="content-text">
                <h3>Total AUM</h3>
                <p>₹4.58M</p>
              </div>
              <div class="content-text">
                <h3>CAGR</h3>
                <p class="cagr">10%</p>
              </div>
            </div>
          </mat-card>
          <mat-card class="mat-asset">
            <h4>BNI-AM Index IDX30</h4>
            <div class="content-card">
              <div class="content-text">
                <h3>Total AUM</h3>
                <p>₹2.58M</p>
              </div>
              <div class="content-text">
                <h3>CAGR</h3>
                <p class="cagr negative">-4.59%</p>
              </div>
            </div>
          </mat-card>

        </div>
      </mat-card>
    </div>
    <!-- 5. My Savings Plan -->
    <div class="savings-plan">
      <mat-card class="savings-card">
        <div class="card-header">
          <div>
            <h3>My Savings Plan</h3>
            <p class="subtitle">Saving plan based on your needs</p>
          </div>
          <button mat-icon-button [matMenuTriggerFor]="menu3" aria-label="Menu 3">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </div>

        <!-- Saving Item 1 -->
        <div class="saving-item">
          <div class="icon purple">
            <mat-icon>card_giftcard</mat-icon>
          </div>
          <div class="saving-info">
            <div class="title-row">
              <h4>Retirement Plan</h4>
              <span class="amount">₹25,000,000</span>
            </div>
            <p class="date">Finished in 2045</p>
            <mat-progress-bar color="primary" mode="determinate" value="51"></mat-progress-bar>
            <span class="progress-text">51%</span>
          </div>
        </div>

        <!-- Saving Item 2 -->
        <div class="saving-item">
          <div class="icon blue">
            <mat-icon>home</mat-icon>
          </div>
          <div class="saving-info">
            <div class="title-row">
              <h4>New House 2027</h4>
              <span class="amount">₹500,000</span>
            </div>
            <p class="date">Finished in 2027</p>
            <mat-progress-bar color="accent" mode="determinate" value="87"></mat-progress-bar>
            <span class="progress-text">87%</span>
          </div>
        </div>
      </mat-card>

    </div>
  </section>
</div>